# Build folder and support files
devel/
build/

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


