<?xml version="1.0" ?>
<robot name="abb_irb120" xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:abb_irb120 prefix=""/>

  <xacro:macro name="abb_irb120" params="prefix">

    <link name="Table">
  <inertial>
  <origin xyz="0 0 -0.06" rpy="0 0 0" />
  <mass value="26.973" />
  <inertia ixx="1.58867585086805"     ixy="7.53875576876204E-16" ixz="-1.555189911135E-16"
           iyy="-0.00481570948189264" iyz="-3.49190034458366"    izz="0.00481570948189306" />
  </inertial>
  <visual>
  <origin xyz="0 0 -0.06" rpy="0 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/Table.STL" />
  </geometry>
  <xacro:material_abb_dark_gray/>
  </visual>
  <collision>
  <origin xyz="0 0 -0.06" rpy="0 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/Table.STL" />
  </geometry>
  <xacro:material_abb_signal_red />
  </collision>
  </link>

  <joint name="${prefix}Table-PCB" type="fixed">
  <parent link="${prefix}Table"/>
  <child link="${prefix}PCB"/>
  <origin rpy="0 0 0" xyz="0.350 0.2 0.001"/>
  </joint>

   <link name="${prefix}PCB">
   <inertial>
   <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
   <mass value="0.011199" />
   <inertia
        ixx="2.5416E-05"
        ixy="-1.4976E-21"
        ixz="-4.5523E-24"
        iyy="2.5392E-05"
        iyz="1.366E-23"
        izz="5.0808E-05" />
   </inertial>
   <visual>
   <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
   <geometry>
   <mesh filename="package://irb120_description/meshes/visual/PCB.STL" />
   </geometry>
   <material name="green">
   <color rgba="0 0.5 0 1"/>
   </material>
   </visual>
   <collision>
   <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
   <geometry>
   <mesh filename="package://irb120_description/meshes/collision/PCB.STL" />
   </geometry>
   </collision>
   </link>

  <joint name="${prefix}PCB-BGA_1" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_1"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>


   <link name="${prefix}BGA_1">
   <inertial>
   <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
   <mass value="0.0012696" />
   <inertia
        ixx="5.6578E-08"
        ixy="-1.2683E-24"
        ixz="-4.2352E-24"
        iyy="1.1194E-07"
        iyz="3.3896E-24"
        izz="5.6578E-08" />
   </inertial>
   <visual>
   <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
   <geometry>
   <mesh filename="package://irb120_description/meshes/visual/BGA_1.STL" />
   </geometry>
   <material name="white">
   <color rgba="1 1 1 1"/>
   </material>
   </visual>
   <collision>
   <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
   <geometry>
   <mesh filename="package://irb120_description/meshes/collision/BGA_1.STL" />
   </geometry>
   </collision>
  </link>


  <joint name="${prefix}PCB-BGA_2" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_2"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_2">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="0.0012696" />
  <inertia
        ixx="5.6578E-08"
        ixy="-7.2405E-26"
        ixz="-2.0814E-22"
        iyy="1.1194E-07"
        iyz="2.587E-24"
        izz="5.6578E-08" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_2.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_2.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_3" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_3"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_3">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="0.0012696" />
  <inertia
        ixx="5.6578E-08"
        ixy="-6.3417E-25"
        ixz="-6.7719E-24"
        iyy="1.1194E-07"
        iyz="3.3896E-24"
        izz="5.6578E-08" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_3.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_3.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_4" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_4"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>


  <link name="${prefix}BGA_4">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="0.0012696" />
  <inertia
        ixx="5.6578E-08"
        ixy="6.1225E-25"
        ixz="-2.3237E-22"
        iyy="1.1194E-07"
        iyz="2.9474E-24"
        izz="5.6578E-08" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_4.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_4.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_5" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_5"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_5">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="0.00014976" />
  <inertia
        ixx="1.8106E-09"
        ixy="3.4411E-25"
        ixz="0"
        iyy="1.8106E-09"
        iyz="0"
        izz="3.5942E-09" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_5.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_5.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_6" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_6"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_6">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="0.00014976" />
  <inertia
        ixx="1.8106E-09"
        ixy="-2.0002E-27"
        ixz="-1.767E-25"
        iyy="3.5942E-09"
        iyz="1.1783E-25"
        izz="1.8106E-09" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_6.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_6.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_7" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_7"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_7">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="0.00014976" />
  <inertia
        ixx="1.8106E-09"
        ixy="7.0233E-42"
        ixz="1.147E-25"
        iyy="3.5942E-09"
        iyz="1.0921E-25"
        izz="1.8106E-09" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_7.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_7.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_8" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_8"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_8">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="0.00014976" />
  <inertia
        ixx="1.8106E-09"
        ixy="5.8884E-27"
        ixz="7.3206E-25"
        iyy="3.5942E-09"
        iyz="1.1783E-25"
        izz="1.8106E-09" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_8.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_8.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_9" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_9"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>


  <link name="${prefix}BGA_9">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="3.7062E-05" />
  <inertia
        ixx="1.5631E-10"
        ixy="-4.6839E-15"
        ixz="5.8399E-14"
        iyy="3.0916E-10"
        iyz="-4.4908E-15"
        izz="1.563E-10" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_9.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_9.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_10" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_10"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_10">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="3.7062E-05" />
  <inertia
        ixx="1.5636E-10"
        ixy="-1.3834E-16"
        ixz="-6.9721E-16"
        iyy="3.0916E-10"
        iyz="-6.4853E-15"
        izz="1.5625E-10" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_10.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_10.STL" />
  </geometry>
  </collision>
  </link>


  <joint name="${prefix}PCB-BGA_11" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_11"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_11">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="3.7062E-05" />
  <inertia
        ixx="1.563E-10"
        ixy="4.4908E-15"
        ixz="-5.8399E-14"
        iyy="3.0916E-10"
        iyz="-4.6839E-15"
        izz="1.5631E-10" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_11.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_11.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_12" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_12"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_12">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="3.7062E-05" />
  <inertia
        ixx="1.5636E-10"
        ixy="-1.3834E-16"
        ixz="-6.9721E-16"
        iyy="3.0916E-10"
        iyz="-6.4853E-15"
        izz="1.5625E-10" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_12.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_12.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_13" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_13"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_13">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="5.88E-05" />
  <inertia
        ixx="2.4716E-10"
        ixy="-3.0158E-27"
        ixz="-1.6544E-26"
        iyy="4.802E-10"
        iyz="1.7285E-26"
        izz="2.4716E-10" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_13.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_13.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_14" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_14"/>
  <origin rpy="0 0 0.001" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_14">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="5.88E-05" />
  <inertia
        ixx="2.4716E-10"
        ixy="7.4522E-27"
        ixz="9.4663E-27"
        iyy="4.802E-10"
        iyz="3.6443E-27"
        izz="2.4716E-10" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_14.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_14.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_15" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_15"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_15">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="5.88E-05" />
  <inertia
        ixx="2.4716E-10"
        ixy="-3.0158E-27"
        ixz="-1.6544E-26"
        iyy="4.802E-10"
        iyz="1.7285E-26"
        izz="2.4716E-10" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_15.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_15.STL" />
  </geometry>
  </collision>
  </link>

  <joint name="${prefix}PCB-BGA_16" type="fixed">
  <parent link="${prefix}PCB"/>
  <child link="${prefix}BGA_16"/>
  <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="${prefix}BGA_16">
  <inertial>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <mass value="5.88E-05" />
  <inertia
        ixx="2.4716E-10"
        ixy="4.7948E-27"
        ixz="3.1554E-27"
        iyy="4.802E-10"
        iyz="5.1522E-27"
        izz="2.4716E-10" />
  </inertial>
  <visual>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/visual/BGA_16.STL" />
  </geometry>
  <material name="white">
  <color rgba="1 1 1 1"/>
  </material>
  </visual>
  <collision>
  <origin xyz="0 0 0" rpy="-1.57079632679 0 0" />
  <geometry>
  <mesh filename="package://irb120_description/meshes/collision/BGA_16.STL" />
  </geometry>
  </collision>
  </link>

<gazebo reference="${prefix}Table">
  <material>Gazebo/WoodPallet</material>
  </gazebo>

  <gazebo reference="${prefix}PCB">
  <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_1">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_2">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_3">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_4">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_5">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_6">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_7">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_8">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_9">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_10">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_11">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_12">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_13">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_14">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_15">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${prefix}BGA_16">
  <material>Gazebo/White</material>
  </gazebo>



</xacro:macro>
</robot>
